<!DOCTYPE html>
<html class="controler">
    <head>
    <title>controler pipe bot</title>
    <meta charset="UTF-8">
    <meta name="controler" content="pipe bot">
    <meta creator="Noé Dargaud">
    <link rel="icon" href="images/controler.png">
    <link href="./style.css" rel="stylesheet">
    <script src="./scriptcontrol.js"></script>
    </head>
    <body>
        <nav id="menu">
            <div class="navigation">
                <a href="https://lyc-louis-armand-villefranche.ent.auvergnerhonealpes.fr/"><img id="logomenu" src="./images/logoSin.png"></a>
                <a href="./presentation.html"><button id="controler">presentation pipebot</button></a>
                <a href="./controler.html"><button id="controler">controler pipebot</button></a>
                <a href="./index.html"><button id="index">data pipebot</button></a>
            </div>
        </nav>
        <nav class="span">
            <img id="touches" src="./images/aideTouches.png" width=1110 height=447>
            <iframe id="camframe" width=660 height=500 src=http://192.168.1.75:2006>
        </nav>
    </body>
</html>