<!DOCTYPE html>
<html class="index">
    <head>
    <title>données pipe bot</title>
    <meta charset="UTF-8">
    <meta name="data" content="pipe bot">
    <meta creator="Noé Dargaud">
    <link rel="icon" href="images/icon.jpg">
    <link href="style.css" rel="stylesheet">
    <script src="scriptdata.js"></script>
    </head>

    <body>
        <nav id="menu">
            <div class="navigation">
                <a href="https://lyc-louis-armand-villefranche.ent.auvergnerhonealpes.fr/"><img id="logomenu" src="./images/logoSin.png"></a>
                <a href="./presentation.html"><button id="controler">presentation pipebot</button></a>
                <a href="./controler.html"><button id="controler">controler pipebot</button></a>
                <a href="./index.html"><button id="index">data pipebot</button></a>
            </div>
        </nav>
        <h1>derniere données :</h1>
        <table>
            <tr>
                <th>Capteur</th>
                <th>Date</th>
                <th>Valeur</th>
                <th>unitée</th>
            </tr>
            <tr>
                <th>Temperature</th>
                <th>18/15/12</th>
                <th id="temperature"></th>
                <th>°C</th>
            </tr>
            <tr>
                <th>Humidité</th>
                <th>18/15/12</th>
                <th id="humidite"></th>
                <th>L/cm^3</th>
            </tr>
            <tr>
                <th>Distance</th>
                <th>18/15/12</th>
                <th id="distance"></th>
                <th>m</th>
            </tr>
            <tr>
                <th>taux Co2</th>
                <th>18/15/12</th>
                <th id="taux_co2"></th>
                <th>%</th>
            </tr>
        </table>
        <h1>anciennes données :</h1>
        <table>
            <tr>
                <th>Capteur</th>
                <th>Date</th>
                <th>Valeur</th>
                <th>unitée</th>
            </tr>
            <tr>
                <th>Temperature</th>
                <th>18/15/11</th>
                <th>89</th>
                <th>°C</th>
            </tr>
            <tr>
                <th>Humidité</th>
                <th>18/15/11</th>
                <th>45</th>
                <th>L/cm^3</th>
            </tr>
            <tr>
                <th>Distance</th>
                <th>18/15/10</th>
                <th>1.5</th>
                <th>m</th>
            </tr>
            <tr>
                <th>taux Co2</th>
                <th>18/15/9</th>
                <th>18</th>
                <th>%</th>
            </tr>
        </table>
    </body>
</html>