<!DOCTYPE html>
<html class="index">
    <head>
    <title>presentation pipe bot</title>
    <meta charset="UTF-8">
    <meta name="data" content="pipe bot">
    <meta creator="Noé Dargaud">
    <link rel="icon" href="images/icon.jpg">
    <link href="style.css" rel="stylesheet">
    <script src="scriptdata.js"></script>
    </head>
    <body>
        <nav id="menu">
            <div class="navigation">
                <a href="https://lyc-louis-armand-villefranche.ent.auvergnerhonealpes.fr/"><img id="logomenu" src="./images/logoSin.png"></a>                
                <a href="./presentation.html"><button id="controler">presentation pipebot</button></a>
                <a href="./controler.html"><button id="controler">controler pipebot</button></a>
                <a href="./index.html"><button id="index">data pipebot</button></a>
            </div>
        </nav>
        <h1>Le robot de canalisation PipeBot</h1>
        <p>Ce robot permet de controler les canalisations à distance grace à cette interface web <br>
            ce qui rend le robot plus simple à controler et à utiliser.</p>
    </body>
</html>